/* (en) reset font size for all elements to standard (16 Pixel) */

html * {
	font-size: 100%
}

/* (en) base layout gets standard font size 12px */

body {
	font-family: Tahoma;
	font-size: 100.00%;
	color: #444;
}

a {
	color: #BD272B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Tahoma;
	font-weight: bold;
	color: #666;
	margin: 0 0 0.25em 0;
}

h1 {
	font-size: 200%
}

/* 24px */

h2 {
	font-size: 125%;
	margin-top: 20px;
}

/* 20px */

h3 {
	font-size: 110%;
	margin-top: 15px
}

/* 18px */

h4 {
	font-size: 100%
}

/* 16px */

h5 {
	font-size: 116.67%
}

/* 14px */

h6 {
	font-size: 116.67%;
	font-style: italic
}

/* 14px */

p {
	line-height: 1.5em;
	margin: 0 0 1em 0;
}

/**
 * Generic Content Classes
 * (en) standard classes for positioning and highlighting
 *
 * @section content-generic-classes
 */

.contentH {
	font-family: Verdana;
	color: #d11d36;
	font-size: large;
}

.stlogin {
	font-size: 90%;
	font-family: Verdana;
	color: white;
	font-weight: 800;
	margin: 5px 0 5px 20px;
}

.stpassword {
	font-size: 90%;
	font-family: Verdana;
	color: white;
	font-weight: 800;
	margin: 5px 0 5px 20px;
}

.clear {
	clear: left;
}

.top0 {
	margin-top: 0;
}

.bottom0 {
	margin-bottom: 0;
}

.brand-item-block .brand {
	border-bottom: 1px solid #c7c7c7;
	margin-bottom: 25px;
	margin-top: 25px;
	padding-bottom: 25px;
}

.brand-item-block .brand__image {
	float: right;
	/* left;*/
	padding-left: 30px;
}

.brand-item-block .brand__desc {
	float: left;
	font-family: Tahoma;
	padding-left: 30px;
	min-height: 100px;
}

.brand-item-block .clearfix {
	clear: both;
}

.brand-item-block .category__title {
	font-size: 18px;
}

.brand-item-block .category {
	border-bottom: 1px solid #c7c7c7;
	margin-bottom: 25px;
	padding-bottom: 25px;
}

.brand-item-block .textatea {
	border-bottom: 1px solid #c7c7c7;
	margin-bottom: 25px;
	min-height: 100px;
	padding-bottom: 25px;
}

.brand-item-block .popular__title {
	font-size: 18px;
	margin-bottom: 10px;
}

.brand-item-block .div640center iframe {
	width: 100%;
	height: 100%;
}

.brand-item-block .popular__title {
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #666;
}

.bx_catalog_list_home.brand .catalog-dl1-item-left {
	border: 1px solid #dcdcdc;
	display: flex;
	height: 235px;
	justify-content: space-between;

}

.bx_catalog_list_home.brand .catalog-dl1-item-left a {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	text-decoration: none;
}

.bx_catalog_list_home.brand .catalog-dl1-item-left:hover span.title {
	background: #d11e37 none repeat scroll 0 0;
}

.bx_catalog_list_home.brand .catalog-dl1-item-left span.title {
	background: rgba(209, 30, 55, 0.6) none repeat scroll 0 0;
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.bx_catalog_list_home.brand .catalog-dl1-item-left img {
	width: 200px;
	margin: auto;
}

.caps {
	text-transform: uppercase;
}

td.top12 {
	padding-left: 20px;
	vertical-align: top;
}

table#tableMainTable h2 {
	color: #bd272b;
	font-size: 18px;
	margin: 0 0 8px 0;
}

.margin30top {
	margin-top: 30px;
}

.menu-sitemap-tree .menu-sitemap-tree__title {
	font-size: 14px;
	margin-left: 10px;
	margin-bottom: 15px;
	display: inline-block;
	color: #666;
	text-decoration: none;
}

.menu-sitemap-tree a.menu-sitemap-tree__title {
	color: #BD272B;
}

div#content .manuals__container h2.subcategory__title {
	margin-bottom: 11px;
}

div#content .manuals__container ul.subcategory__list {
	margin: 0 0 0 18px;
}

div#content .manuals__container li.subcategory__item.attach:before {
	display: block;
	content: "";
	background-image: url("/img/clip.png");
	width: 13px;
	height: 18px;
	float: left;
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-right: 9px;
}

div#content .manuals__container li.subcategory__item.attach span.file-format {
	color: #808080;
	font-size: 10px;
	letter-spacing: -0.1px;
	margin-left: 3px;
}

div#content .manuals__container li.subcategory__item {
	list-style: none;
	line-height: 1.8;
}

div#content .manuals__container li.subcategory__item a {
	font-size: 13px;
	font-weight: bold;
}

div#content .product-catalog__container .brandWrap {
	border-bottom: 1px solid #cacaca;
	padding-bottom: 29px;
	margin-bottom: 30px;
}

div#content .product-catalog__container .brandWrap:last-child {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

div#content .product-catalog__container h1 {
	margin-bottom: 25px;
}

div#content .product-catalog__container .brandNameWrap {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	margin-bottom: 10px;
}

div#content .product-catalog__container .brandNameWrap h2 {
	margin: 0 0 0 16px;
}

div#content .product-catalog__container .brandNameWrap img {
	max-width: 69px;
	max-height: 68px;
}

div#content .product-catalog__container ul.catList {
	display: flex;
	flex-wrap: wrap;
	margin-left: -16px;
}

div#content .product-catalog__container ul.catList li {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	list-style: none;
	width: calc(33.33% - 16px);
	padding-top: 20px;
	margin-left: 16px;
}

@media only screen and (max-width: 833px) {
	div#content .product-catalog__container ul.catList li {
		width: calc(50% - 16px);
	}
}

@media only screen and (max-width: 537px) {
	div#content .product-catalog__container ul.catList li {
		width: 100%;
	}
}

div#content .product-catalog__container ul.catList li .catNameImageWrap {
	margin-right: 12px;
	flex-shrink: 0;
}

div#content .product-catalog__container ul.catList li .catNameImageWrap img {
	width: 55px;
}

div#content .product-catalog__container ul.catList li .catNameDateWrap {
	line-height: 1.3;
}

div#content .product-catalog__container ul.catList li .catNameDateWrap span.document-date {
	display: block;
	font-size: 10px;
	color: #808080;
	margin-top: 4px;
}

div#content .faq-container h1 {
	margin-bottom: 25px;
}

div#content .faq-container h2.category__title {
	margin-bottom: 12px;
}

div#content .faq-container ul.category__list {
	margin: 0 0 0 17px;
}

div#content .faq-container ul.category__list li.category__element {
	list-style: none;
	line-height: 1.8;
}

div#content .faq-container ul.category__list li.category__element:before {
	display: block;
	content: "";
	background-image: url("/img/question.png");
	width: 10px;
	height: 18px;
	float: left;
	background-repeat: no-repeat;
	background-position: 0 5px;
	margin-right: 12px;
}

.brandnews_menu > li > .item-text {
	text-decoration: none;
	font-size: 14px;
	color: #666;
}

.press__wrapper .section__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-bottom: 1px solid #cacaca;
	padding-bottom: 25px;
	margin-bottom: 12px;
}

.press__wrapper .section__container.faq {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.press__wrapper .section__header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: inline-block;
	margin: 0;
}

.press__wrapper .section__header a {
	float: right;
	margin-top: 12px;
}

div#content .press__wrapper ul.section__list {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	width: calc(50% - 15px);
	padding-top: 40px;
	margin: 17px 0 0 0;

}

div#content .press__wrapper ul.section__list:first-child {
	min-width: 405px;
	margin-right: 20px;
}

@media only screen and (max-width: 767px) {
	div#content .press__wrapper ul.section__list:first-child {
		margin: 0;
	}
}

div#content .press__wrapper ul.section__list--fullwidth {
	width: 100% !important;
}

div#content .press__wrapper ul.section__list--fullwidth .section__element {
	width: 24%;
}

@media only screen and (max-width: 767px) {
	div#content .press__wrapper ul.section__list--fullwidth .section__element {
		width: 50%;
		padding: 0 10px;
	}
}

@media only screen and (max-width: 440px) {
	div#content .press__wrapper ul.section__list--fullwidth .section__element,
	div#content .press__wrapper ul.section__list--fullwidth .section__element {
		width: 100%;

	}

}

div#content .press__wrapper .brands ul.section__list {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

div#content .press__wrapper .manuals ul.section__list,
div#content .press__wrapper .faq ul.section__list {
	margin: 10px 0 0 17px;
}

div#content .press__wrapper li.section__element {
	list-style: none;
	width: calc(50% - 10px);
	text-align: center;
	margin-bottom: 25px;
}

div#content .press__wrapper li.section__element a {
	height: 100%;
}

div#content .press__wrapper li.section__element a .img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: 2px solid #F1F1F1;
	height: 90px;
	margin-bottom: 5px;
}

div#content .press__wrapper li.section__element:nth-child(2n+4) {
	margin-right: 0;
}

div#content .press__wrapper .brands li.section__element {
	margin-right: 0;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

div#content .press__wrapper .manuals li.section__element,
div#content .press__wrapper .faq li.section__element {
	float: none;
	width: inherit;
	text-align: inherit;
}

div#content .press__wrapper .manuals li.section__element,
div#content .press__wrapper .faq li.section__element {
	line-height: 1.8;
}

div#content .press__wrapper .manuals li.section__element:before {
	display: block;
	content: "";
	background-image: url("/img/clip.png");
	width: 13px;
	height: 18px;
	float: left;
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-right: 9px;
}

@media only screen and (max-width: 767px) {
	.press__wrapper .section__container {
		flex-wrap: wrap;
	}

	div#content .press__wrapper ul.section__list {
		width: 100%;
		min-width: 100%;

	}
}

@media only screen and (max-width: 400px) {
	.press__wrapper .section__container {
		flex-wrap: wrap;
	}

	div#content .press__wrapper li.section__element,
	div#content .press__wrapper ul.section__list:first-child {
		width: 100%;
		min-width: 100%;

	}
}

div#content .press__wrapper .faq li.section__element:before {
	display: block;
	content: "";
	background-image: url("/img/question.png");
	width: 10px;
	height: 18px;
	float: left;
	background-repeat: no-repeat;
	background-position: 0 5px;
	margin-right: 12px;
}

div#content .press__wrapper li.section__element--fullwidth {
	width: 100% !important;
}

div#content .press__wrapper li.section__element--small-margin {
	margin-bottom: 10px !important;
}

div#content .press__wrapper .brands li.section__element a.brand-link {
	width: initial;
	height: initial;
	display: block;
	border: none;
	margin-top: 15px;
}

div#content .press__wrapper .brands li.section__element a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

div#content .press__wrapper .brands li.section__element a img {
	margin-bottom: 0;
}

div#content .press__wrapper .video li.section__element .image {
	position: relative;
	width: 100%;
	height: 100px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 5px;
}

div#content .press__wrapper .video li.section__element .image:before {
	content: "";
	display: block;
	background-image: url(/img/play.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 25%;
	position: absolute;
	width: 100%;
	z-index: 4;
	height: 100%;
}

div#content .press__wrapper .catalogs li.section__element a {
	text-decoration: none;
}

div#content .press__wrapper .catalogs li.section__element a .section__name {
	text-decoration: underline;
}

div#content .press__wrapper li.section__element span.file-format {
	color: #808080;
	font-size: 10px;
	letter-spacing: -0.1px;
	margin-left: 3px;
}

td.left-col {
	padding: 0 40px 0 20px;
	width: 180px;
}

.sidebar ul {
	list-style: outside none none;
}

.sidebar li {
	margin-bottom: 18px;
}

.sidebar li span {
	color: #666;
}

.sidebar li a {
	font-size: 14px;
	color: #bd272b;
	text-decoration: none;
}

.sidebar li a:hover,
.sidebar li a.active {
	color: #666;
}

.sidebar li ul {
	margin: 15px 0 0 20px;
}

.sidebar li ul li a {
	font-size: 13px;
}

.sidebar li.close ul {
	display: none;
}

div.urls {
	border: 1px solid #D43A44;
	width: 240px;
	height: 35px;
	float: left;
	padding-top: 5px;
	margin: 21px 12px 2px 0;
	text-align: center;
}

div.urls a {
	font-weight: bold;
	color: #666;
	text-decoration: none;
	display: block;
}

div.urls a:hover {
	text-decoration: underline;
	color: black;
}

.press__wrapper .section__list .link {
	position: relative;
	display: block;
	width: 100%;
	color: #666;
	margin-bottom: 10px;
	padding-left: 13px;
}

.press__wrapper .section__list .all_link {
	position: absolute;
	top: 0;
	right: 0;
}

@media only screen and (max-width: 767px) {
	.press__wrapper .section__list .all_link {
		position: static;
		margin-bottom: 20px;

	}
}

.press__wrapper .section__list .link:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 6px;
	height: 6px;
	background: #666;
	border-radius: 50%;
}

a[name] {
	position: absolute;
	margin-top: -175px;
	padding-top: 175px;
}

a.tel {
	text-decoration: none;
	color: black;
}

a:hover.tel {
	color: #BD272B;
}

/* Header slider */

.banner-slider {
	width: 1280px;
	height: 170px;
	overflow: hidden;
	margin-bottom: 0 !important;
	position: relative;
}

.banner-slider .slick-dots {
	position: absolute;
	right: 0;
	bottom: 0;
	width: auto;
}

.banner-slider .slick-dots li {
	margin: 0 2px;
	width: 18px;
	text-align: center;
}

.banner-slider .slick-dots li button {
	border-radius: 50%;
	border: 1px solid #6d6d6d;
	background: #f1f1f1;
	width: 15px;
	height: 15px;
	text-indent: -99999px;
}

.banner-slider .slick-dots li button:before {
	display: none;
}

.banner-slider .slick-dots li.slick-active button {
	background: #d3353f;
	border-color: #d3353f;
}

.img-tovars {
	min-height: 110px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.b-inner-page__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
}

.b-banner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 190px;
	overflow: hidden;
	position: relative;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 32px 0 24px;
}

.b-banner__image {
	max-width: 100%;
	position: relative;
}

.b-descr {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 32px;
}

.b-descr__section {
	margin: 0;
}

.b-descr__section--button {
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.b-descr__section--text {
	font-size: 13px;
	text-align: justify;
}

/*.b-descr__section:last-child {*/
/*margin-left: 62px;*/
/*}*/

.b-categories {
	margin: 32px 0 0;
}

.b-categories__list,
ul.b-categories__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	list-style: none;
	margin: 0 !important;
}

.b-categories__list--bordered > .b-categories__item {
	border: 1px solid #CE5D60;
}

.b-categories__item,
li.b-categories__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 calc(50% - 12px);
	flex: 1 0 calc(50% - 12px);
	max-width: calc(50% - 12px);
	margin-bottom: 16px;
}

.b-categories__item:nth-last-child(-n+2),
li.b-categories__item:nth-last-child(-n+2) {
	margin-bottom: 0;
}

.b-categories-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 24px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.b-categories-item__title {
	font-family: Tahoma;
	line-height: normal;
	font-size: 16px;
	text-align: center;
	color: #4C4C4C;
	margin: 0;
	font-weight: 600;
}

.b-categories-item__descr {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 100%;
	min-width: 100%;
	margin: 24px 0 0;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
}

.b-categories-item__section--image {
	width: 230px;
	height: 144px;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.b-categories-item__section:last-child {
	margin-left: 32px;
}

.b-categories-item__image {
	max-width: 100%;
	max-height: 100%;
}

.b-categories-item__links,
ul.b-categories-item__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	margin: 0 !important;
	padding: 0;
	list-style: none;
}

.b-categories-item__link,
li.b-categories-item__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: Tahoma;
	line-height: normal;
	font-size: 13px;
	margin: 0 0 16px;
	position: relative;
}

.b-categories-item__link > a,
li.b-categories-item__link > a {
	color: #4C4C4C;
	text-decoration: none;
}

.b-categories-item__link > a:hover,
li.b-categories-item__link > a:hover {;
	text-decoration: underline;
}

.b-categories-item__link::before,
li.b-categories-item__link::before {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	content: '';
	position: relative;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #CACACA;
	margin-right: 12px;
}

.b-categories-item__link:last-child,
li.b-categories-item__link:last-child {
	margin-bottom: 0;
}

.b-attention {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #F4F4F4;
	border-width: 1px 0;
	border-style: solid;
	border-color: #BD272B;
	padding: 16px 180px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-family: Tahoma;
	line-height: normal;
	font-size: 24px;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 24px;
}

.b-attention--discount::before {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	content: url('/images/Union.svg');
	height: 56px;
	width: 56px;
}

.b-attention__text {
	margin: 0 24px;
}

.b-attention__button {
	max-width: 170px;
}

.b-brands {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 42px;
}

.b-brands__brand {
	width: 212px;
	height: 88px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.b-brands__brand:last-child {
	margin-right: 0;
}

.b-brands__section--title {
	margin-right: 70px !important;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.b-brands__section--list {
	margin-left: auto;
}

.b-brands__section--list-wrap,
ul.b-brands__section--list-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 !important;
}

.b-brands__brand-logo {
	max-width: 100%;
	max-height: 100%
}

.b-inner-page__descr {
	margin-top: 30px;
}

.owl-carousel {
	display: block;
}

@media only screen and (max-width: 1023px) {
	.tovars .item {
		width: 100%;
	}
}
ul.elastislide-list li {
	list-style: none;
}

.video_news-detail__player {
	width: 29.866em;
	height: 16em;
	max-width: 700px;
	max-height: 375px;
	display: block;
	font-size: 2vw;
	margin: 0 auto 20px;
}

.video_news-detail__player iframe {
	width: 100% !important;
	height: 100% !important;
}

@media only screen and (max-width: 767px) {
	.video_news-detail__player {
		width: 40em;
		height: 24em;
	}
}

.sort-container div {
	display: inline-block;
}
.sort-container select {
	width: 140px;
}
.sort-container div:first-child {
	margin-right: 30px;
}